.main{
    flex:1;
    min-height: 100vh;
    padding-bottom:15vh;
    position:relative;
    width:100vw;
}

.nav{
    animation:fadeIn 1s;
    display:flex;
    border: #585858;
    align-items: center;
    justify-content: space-between;
    font-size:22px;
    padding:20px;
    color: #585858;
}

.nav img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.main-container{
    animation:fadeIn 1s;
    
    max-width: 1000px;
    margin:0 auto;
}

.main .greet{
    animation:fadeIn 2s;
    margin:50px 0px;
    font-size:56px;
    color:#c9cacb;
    font-weight: 500;
    padding:20px;
    
}

.greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .card img{
    width: 30px;
    height:30px;
    align-self: end;
    left:10px;
   
}

.main .cards{
    display: flex;
    justify-content: space-between;
}

.main .card{
    font-size:18px;
    width:200px;
    height: 200px;
    background-color: #f0f4f9;
    display:inline-flex;
    padding:20px;
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
    font-weight: bold;
    color:rgb(169, 169, 169);
}

.main .card p{
    color:#585858;
    font-size:17px;
}

.card:hover{
    background-color: #e2e6eb;
}


.mainBottom{
    padding:10px 20px;
    position:absolute;
    bottom:0;
    width:100%;
    max-width: 1000px;
   
    
}


.searchBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: #f0f4f9;
    padding:10px 20px; 
    border-radius:50px; 
}

.searchBox div{
    display:flex;
    align-items: center;
    gap:15px;
}

.bottomInfo{
    font-weight: 400;
    font-size:1rem;
    text-align: center;
    padding-top:15px;

}

.searchBox img{
    width:24px;
    cursor:pointer;

}

.searchBox input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    padding:8px;
    font-size:18px;
}

.result{
    padding:0 5%;
    max-height : 70vh;
    overflow-y: scroll;
}

.result::webkit-scrollbar{
    display:none;
}

.resultTitle{
    margin: 40px 0px;
    display:flex;
    align-items: center;
    gap:20px;
}

.result img{
    width:40px;
    border-radius: 50%;
}

.resultData{
    animation:fadeIn 1s;
    display:flex;
    align-items: start;
    gap:20px;

}

.loader{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.loader hr{
    border-radius:4px;
    border:none;
    background-color: #f6f7f8;
    background:linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size:800px 50px;
    height:10px;
    animation:loader 3s infinite linear;

}

@keyframes loader{
    0%{
        background-position: -800px 0;
    }
    100%{
        background-position: 800px 0;
    }
}

.resultData p{
    font-size:17px;
    font-weight: 300;
    line-height: 1.8;
}   

@media (max-width:600px){
    .main .card{
        display:none;
    }
    .searchBox input{
        
        width:150px;
    }
    .bottomInfo{
        font-size:10px;
    }

}