.sidebar{
    min-height: 100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar img{
    width: 20px;
}

.top{
    display:inline-flex;
    flex-direction:column;
    
    
}
.sidebar .menu{
    display: flex;
    position:fixed;
    cursor: pointer;
    padding-left:15px;
    
    
    justify-content: center;
}

.sidebar .menu img{
    bottom:20px;
    width:30px;
    justify-content: center;
    align-items: center;
}

.sidebar .newChat{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    
    
  
    font-size: 14px;
    
    cursor: pointer;
    
  
    
}
.sidebar .newChat .wao{
    gap:20px;
    align-items: center;
    padding:15px 20px;
    display:flex;
    border-radius: 50px;
    background-color: #e6eaf1;
    color: grey;
    justify-content: start;
}

.wao img{
    width:20px;
    height:25px;
}


.sidebar .recent{
    display:flex;
    flex-direction: column;
}

.sidebar .recentTitle{
    margin-top: 30px;
    margin-bottom: 20px;

}

.sidebar .recentEntry{
    justify-content: start;
    display:flex;
    gap:20px;
    padding: 10px;
    right:10px;
    border-radius: 50px;
    color: #282828;
    cursor:pointer;
    align-items: center;
}

.sidebar .recentEntry img{
    margin-top: 2px;
  
    align-items: center;
}

.sidebar .recentEntry:hover{
   background-color: #e2e6eb;
}

.bottom{
    font-weight: 400;
    font-size:20px;
    
}

.bottom img{
    
    width:28px;
   
}

.bottom .location{
    font-weight: bold;
    color:#585858;
    font-size:16px;
    margin-top:10px;
}

.bottom #location{
    color: #4a9df5;
}
